.tabLR{width:100%}
.tabLR .left{vertical-align:top}
.tabLR .right{
    vertical-align:top;
    padding:8px 8px 20px 8px;
    width:140px;
    background-color:#f7f7f7;
    border-left:#dae1e8 solid 1px;
    height:450px;
}


.result {
    height:17px;
    padding:12px 10px 0 10px;
    font:bold 11px Tahoma;
    color:#47688D;
    border-bottom:#DAE1E8 solid 1px;
}


td.label{line-height:16px;color:#888}
td.label EM{font-size:10px;color:#bbb;display:block}

td.top{vertical-align:top;padding-top:3px}
td.r{text-align:right}

.money{font:bold 14px Tahoma;width:70px}


.rightLinks a{display:block;padding:5px 12px;border:transparent solid 1px;color:#29597B}
.rightLinks a:hover{border:#DEE3EF solid 1px;background:#DEE3EF;text-decoration:none}
.rightLinks a.sel,.rightLinks a.sel:hover {color:#FFF;background:#6B8EB5;border:#39659C solid 1px}
.rightLinks a.sel img{float:right;margin-top:3px}


#dopLinks{background-color:#F7F7F7;border-bottom:#dae1e8 solid 1px;padding:9px 12px}
#dopLinks .link{
    text-decoration:none;
    color:#45688e;
    margin-right:10px;
    display:inline-block;
    font-weight:bold;
    padding:3px 8px 4px 8px;
    border-radius:2px;
}
#dopLinks .link:not(.sel):hover{background-color:#e1e7ed}
#dopLinks .sel{background-color:#597da3;color:#FFF}




/* Просмотр изображений */
.fotoView{cursor:pointer}
#foto_view{position:absolute;top:0;left:0;width:625px;background:#fff;z-index:1000}
#foto_view .head em{display:inline-block;margin:11px 20px;color:#45688e;font-weight:bold}
#foto_view .head a {float:right;display:block;padding:12px 25px}
#foto_view .image{width:100%;min-height:400px;cursor:pointer}
#foto_view .image td{text-align:center;vertical-align:middle}
#foto_view .about{padding:20px 0}
#foto_view .dtime{color:#777;margin-left:20px}
#foto_view .hide{display:none}


/* Загрузка и просмотр изображений */
#fotoUpload .info{background-color:#f6f7f9;border:#dbe0ea 1px solid;padding:10px;margin-bottom:15px}
#fotoUpload .about{color:#31618C;font-size:12px;font-weight:bold;margin:25px 0 2px 0}
#fotoUpload #choose_file{
    background:#eff1f3 url("data:image/gif;base64,R0lGODlhGgAWALMAAAAAAP///6OzxqKyxaGxxKCww6CxxKOzxaW1x6S0xqO0xqKzxaGyxKCxw////wAAACH5BAEAAA4ALAAAAAAaABYAAAQ+0Mkpkb2Y6o373ZwnWuBodtOpfmurhu5XxkgqO7Gd4W4l+isgihckDnvGXS5ZY550TedzRiNBq9gsSruTIiMAOw==") no-repeat 110px center;
    padding-left:145px;
    margin-bottom:30px;
    line-height:44px;
    color:#738392;
    font-size:12px;
}
#fotoUpload #choose_file.no_msie:hover{background-color:#e9edf1;cursor:pointer}
#fotoUpload form{
    position:absolute;
    margin:11px 0 0 110px;
    height:22px;
    width:63px;
    overflow:hidden;
    z-index:2;
    opacity:0;
}
#fotoUpload #file_name{
    position:relative;
    width:178px;
    left:-115px;
    cursor:pointer;
}
#fotoUpload iframe{display:none}
#fotoUpload #error_msg{
    border:#e6a393 solid 1px;
    background-color:#fdefea;
    padding:10px;
    text-align:center;
    color:#533;
}
#fotoUpload #direct_input{width:242px}
#fotoUpload #direct a{margin-left:5px;display:inline-block;padding:4px 12px}
#fotoUpload #direct a:hover{background-color:#e9edf1;text-decoration:none}
#fotoUpload #direct a.busy span{visibility:hidden}
#fotoUpload .webcam{margin:30px 0 10px 0}
/* настройки камеры */
#webcam{padding:0;background-color:#B3B3B3}
#webcam #screen{height:457px}





.ajaxNext{text-align:center;height:31px;color:#2B587A;cursor:pointer}
.ajaxNext span{line-height:30px}
.ajaxNext td{border:0;padding:0}
.ajaxNext:hover,.ajaxNext.busy:hover{background-color:#e9edf1}
.ajaxNext.busy span{display:none}



/* Перелистывание годов */
.years{margin:6px 0;background-color:#E8E8E8;height:25px;cursor:pointer}
.years TABLE{height:100%;width:100%}
.years .but{color:#CCC;font:bold 20px Arial;width:18px;text-align:center;padding:0 5px}
.years .but:hover{background-color:#DDD;color:#AAA}
.years #ycenter{width:90px;text-align:center;overflow:hidden}
.years #ycenter SPAN{font:bold 12px Verdana;color:#666;top:1px;left:0;position:relative}






.zayav_link{position:relative;display:inline-block}
.zayav_link .tooltip{
    position:absolute;
    background-color:#fff;
    border:#ccc solid 1px;
    min-width:100px;
    min-height:75px;
    padding:5px;
    top:-86px;
    left:-10px;
}
.zayav_link:not(:hover) .tooltip{display:none}
.zayav_link td{border:0;padding:0}
.zayav_link .image{max-width:100px;overflow:hidden}
.zayav_link img{height:70px}
.zayav_link .inf{white-space:nowrap;padding-left:5px}






/* Список клиентов */
#client #find{background-color:#F7F7F7;padding:10px;border-bottom:#dae1e8 solid 1px}
#client .result.busy{background-position:585px center}
#client .result em{color:#999;margin-left:10px;font-size:10px}
#client #dolg_check{margin-top:20px}
#client #active_check{margin-top:10px}
#client .left{padding-bottom:10px}
#client .unit{margin:5px 10px 0 10px;border-bottom:#dae1e8 solid 1px;padding:5px}
#client .label{width:70px}
#client .balans{float:right;width:80px;color:#888}
#client .balans b{float:right}
#client .unit em{background-color:#FFC;border-bottom:#FE2 solid 1px}
#client .ajaxNext{margin:0 10px}






/* Внесение новой заявки */
#zayavAdd{padding:20px 10px 140px 10px;background-color:#F7F7F7}
#zayavAdd .headName{margin-bottom:15px}
#zayavAdd .label{width:190px;text-align:right}
#device_image{padding-left:5px;vertical-align:top;min-width:50px}
#device_image img{height:72px;display:none}
#zayavAdd #place_radio{margin-bottom:10px}
#place_other_div{position:absolute;display:none}
#place_other{width:100px;position:relative;top:-3px;left:3px}
#zayavAdd #imei{width:130px}
#zayavAdd #serial{width:200px}
#zayavAdd #fault .check0,#zayavAdd #fault .check1{white-space:nowrap;margin:4px 15px 0 0}
#zayavAdd #comm{width:260px;height:40px}
#zayavAdd #reminder_tab{display:none;position:relative;top:-8px}
#zayavAdd #reminder_txt{width:260px}
#zayavAdd .vkButton{margin:10px 7px 0 206px}



/* Информация о заявке */
#zayavInfo .delete{float:right;margin-top:4px;color:#933}
#zayavInfo #left{vertical-align:top}
#zayavInfo .headName{margin:0;padding:4px 3px}
#zayavInfo .tabInfo{margin:2px 10px 15px 10px; }
#zayavInfo .label{width:85px}
#zayavInfo .dtime_add{cursor:help}
#zayavInfo #status {
    display:inline-block;
    border:#DDD solid 1px;
    width:140px;
    text-align:center;
    padding:2px 0 3px 0;
    color:#666;
    cursor:pointer;
}
#zayavInfo #status:hover{border-color:#BBD; color:#444}
#zayavInfo #status_dtime{display:inline-block;color:#AAA;font-size:10px;margin-left:10px}
#zayavInfo .dopl{margin-left:10px;color:#888;cursor:help}
#zayavInfo #remind_spisok{margin:8px 0}
#zayavInfo .headBlue.mon{margin-top:10px}
#zayavInfo .headBlue.mon em{float:right;margin:0 5px;}
#zayavInfo .tabSpisok.mon{width:100%}
#zayavInfo .mon .sum{width:45px;text-align:right;font-weight:bold;cursor:help}
#zayavInfo .op{color:#090}
#zayavInfo .acc{color:#07a}
#zayavInfo .mon .dtime{
    width:70px;
    white-space:nowrap;
    text-align:right;
    font-size:10px;
    color:#777;
    cursor:help
}
#zayavInfo .mon .del{width:20px;padding:0}
#zayavInfo .mon .img_del{margin:0 0 -2px 4px}
.zayav_accrual_add .label{width:140px;text-align:right}
.zayav_accrual_add #prim,.zayav_accrual_add #reminder_txt { width:200px; }
.zayav_accrual_add.remind{display:none;margin-top:-8px;}
.zayav_oplata_add .label{width:165px;text-align:right}
.zayav_oplata_add #prim{width:200px}
#zayavInfo .deleting{text-align:center;color:#555}
#zayavInfo #right{vertical-align:top;width:200px}
#zayavInfo #foto{text-align:center}
#zayavInfo .fotoUpload{color:#2B587A;padding:10px;text-align:center;cursor:pointer}
#zayavInfo .fotoUpload:hover{background-color:#e9edf1}
#zayavInfo .devContent{border-left:#e9edf1 solid 1px}
#zayavInfo .devName{padding:7px 0 0 7px}
#zayavInfo .devName a{font-weight:bold}
#zayavInfo .devInfo{margin:7px 0 10px 7px}
#zayavInfo .devInfo *{font-size:10px}
#zayavInfo .devInfo th{width:70px;color:#777;text-align:left;font-size:10px}
#zayavInfo .goZp{font-weight:bold}
.zayav_zp_add center{margin-bottom:15px}
.zayav_zp_add center,.zayav_zp_add center b{font-size:12px}
.zayav_zp_add #name_dop{width:188px}
.zayav_zp_set,.zayav_zp_set b{font-size:12px}
#zayavInfo #zpSpisok{margin:7px 7px 60px 7px}
#zayavInfo #zpSpisok *{font-size:10px}
#zayavInfo #zpSpisok .unit{border-bottom:#DEE3EF solid 1px;padding-bottom:4px;margin-bottom:7px}
#zayavInfo #zpSpisok .unit:not(:hover) .zakaz,#zayavInfo #zpSpisok .unit:not(:hover) .set{visibility:hidden}
#zayavInfo #zpSpisok .zakaz{color:#567f9e}
#zayavInfo #zpSpisok .set{color:#567f9e;float:right}
#zayavInfo #zpSpisok .dop{color:#333}
#zayavInfo #zpSpisok .color{color:#777}
#zayavInfo #zpSpisok .zakaz_ok{color:#933}
#zayavInfo #zpSpisok .avai{float:right;color:#393;margin-left:4px}
#zayavInfo #zpSpisok .findEmpty{margin:5px 0;padding:20px 10px;font-size:12px}
#zayavInfo #zpSpisok .unit:not(:hover) .image{display:none}
#zayavInfo #zpSpisok .image{position:relative}
#zayavInfo #zpSpisok .image div{
    position:absolute;
    top:0;
    left:-94px;
    background-color:#fff;
    border:#ccc solid 1px;
    min-width:80px;
    min-height:60px;
    padding:5px;
    text-align:center;
}




#report_history{margin:8px}
#report_history .head{font-size:10px;color:#777;margin-top:10px}
#report_history .head a{font-size:10px;margin-left:10px}
#report_history .txt{margin:0 0 5px 30px}
#report_history i{font:italic 11px Arial;color:#977}
.report_history_rl .label{display:inline-block;width:20px}
.report_history_rl .cal{margin-top:5px}


#remind_private_check{margin-top:20px}
#report_remind .info{margin:8px;border:#DDD solid 1px;padding:6px 8px}
#report_remind .info:not(.show) .text,
#report_remind .show .opening,
#report_remind .info:not(.show) .closing{display:none}
#report_remind #remind_spisok{margin:0 8px}
.remind_unit{font-size:12px;margin:8px 0}
.remind_unit B{font-size:12px;color:#555}
.remind_unit .txt{font-size:12px;padding:4px 6px 5px 6px}
.remind_unit .txt a{font-size:12px}
.remind_unit .txt u{font-size:12px;color:#888}
.remind_unit .day{padding-top:3px;padding-bottom:3px;font-weight:bold;color:#884}
.remind_unit .day EM{color:#884; margin-left:4px}
.remind_unit .day SPAN{color:#888}
.remind_unit .action{float:right;display:none;margin-right:4px}
.remind_unit .action a{font-size:10px}
.remind_unit .hist{
    display:none;
    background-color:#FFF;
    font-size:10px;
    color:#888;
    border-top:#F8F8F8 solid 1px;
    border-bottom:#F8F8F8 solid 1px;
    margin-top:3px;
    padding:2px 3px;
}
.remind_unit.yellow{border:#EED solid 1px}
.remind_unit.yellow .txt{background-color:#FFC}
.remind_unit.yellow .day{background-color:#FFFFF4}
.remind_unit.yellow em{color:#884}
.remind_unit.redd{border:#EDD solid 1px}
.remind_unit.redd .txt{background-color:#FCC}
.remind_unit.redd .day{background-color:#FFF7F7}
.remind_unit.redd em{color:#844}
.remind_unit.blue{border:#DDE solid 1px}
.remind_unit.blue .txt{background-color:#ddf}
.remind_unit.blue .day{background-color:#F7F7FF}
.remind_unit.blue em{color:#884}
.remind_unit.green{border:#DED solid 1px}
.remind_unit.green .txt{background-color:#CFC}
.remind_unit.green .day{background-color:#F7FFF7}
.remind_unit.green em{color:#484}
.remind_unit.grey{border:#DDD solid 1px}
.remind_unit.grey .txt{background-color:#DDD}
.remind_unit.grey .day{background-color:#F7F7F7}
.remind_unit.grey em{color:#444}
/* плюсик добавления напоминания */
.rightLinks a:not(.sel) .report_remind_add{display:none}
.report_remind_add{float:right;margin:1px 0}
/* таблица внесения нового напоминания */
.remind_add_tab .label{width:160px;text-align:right}
.remind_add_tab#tab_content{display:none}
.remind_add_tab #txt{width:240px;height:40px}
.remind_add_tab #data{cursor:pointer;width:90px;text-align:right}
.remind_add_tab #zayav_nomer{width:60px}
.remind_add_tab #img{color:#666;margin-left:5px}
#report_remind_next{margin:0 8px 8px 8px}
/* Новое действие для напоминания */
.remind_action_tab{margin:0 10px}
.remind_action_tab .label{width:80px;text-align:right}
.remind_action_tab B{
    display:block;
    border:#DDD solid 1px;
    padding:2px 4px;
    font-weight:bold;
    font-size:12px;
    color:#444;
    background-color:#FAFAFA;
}
.remind_action_tab#new_action{display:none;margin-top:6px}
.remind_action_tab#new_action .tdAbout{line-height:32px}
.remind_action_tab #comment{width:240px; height:40px}



#report_prihod{padding:10px 15px 20px 15px}
#report_prihod .tabSpisok{width:100%}
#report_prihod .sum{width:30px;text-align:right;white-space:nowrap}
#report_prihod .dtime{width:70px;color:#666;font-size:10px;text-align:right;white-space:nowrap;cursor:help}
#report_prihod .edit{padding:0;text-align:center;width:19px}
#report_prihod .img_del{margin:0 0 -3px 2px}
#report_prihod .deleting{text-align:center;color:#555}
#report_prihod .deleted{background-color:#eee}
#report_prihod .deleted *{color:#999}
#report_prihod .summa{margin-bottom:7px}
#report_prihod .summa_add{float:right}
#report_prihod_add #about{width:170px}
.report_prihod_rl .label{display:inline-block;width:20px}
.report_prihod_rl .cal{margin-top:5px}
#prihodShowDel_check{margin-top:15px}


#report_rashod{margin:12px}
#report_rashod .headName{margin:10px 0}
#report_rashod .headName a{float:right;color:#9fb7c9}
#report_rashod .headName a:hover{color:#2B587A}
#report_rashod .tabSpisok{width:100%;margin-top:5px}
#report_rashod .sum{width:30px;text-align:right;white-space:nowrap}
#report_rashod .dtime{width:70px;color:#666;font-size:10px;text-align:right;white-space:nowrap;cursor:help}
#report_rashod .edit{padding:0 0 0 4px;text-align:center;width:11px;white-space:nowrap}
#report_rashod .img_edit{margin:0 2px -3px 0}
#report_rashod .img_del{margin:0 2px -3px 0}
#report_rashod .deleting{text-align:center;color:#555}
#report_rashod em{margin-right:5px;color:#770}
#years_rashod_year{margin-top:20px}
#rashod_monthSum_radio .sum{float:right}
#rashod_monthSum_radio .off .sum{color:#888}
#report_rashod_add #about{width:190px}
#rashod_category_name{width:190px}



#report_kassa .set_info{
    margin:15px;
    background-color:#FFE;
    border:#EED solid 1px;
    padding:6px 8px;
    text-align:justify;
}
#report_kassa #set_summa{
    padding:0 3px;
    width:70px;
    height:24px;
    font-size:13px;
    font-weight:bold;
}
#report_kassa .set_tab{margin:0 0 20px 100px}
#report_kassa #set_go{margin-left:10px}
#report_kassa .in{padding:15px 10px 5px 10px;border-bottom:#dae1e8 solid 1px;}
#report_kassa .actions{float:right}
#report_kassa #spisok{margin:0 10px 20px 10px}
#report_kassa .all{margin:15px 0 4px 0}
#report_kassa .tabSpisok{width:100%}
#report_kassa .sum{width:30px;text-align:right;white-space:nowrap}
#report_kassa .dtime{width:70px;color:#666;font-size:10px;text-align:right;white-space:nowrap;cursor:help}
#report_kassa .edit{padding:0 0 0 3px;text-align:center;width:11px;white-space:nowrap}
#report_kassa .img_del{margin:0 2px -3px 0}
#report_kassa .img_rest{margin:0 2px -3px 0}
#report_kassa .deleting{text-align:center;color:#555}
#report_kassa .deleted{background-color:#eee}
#report_kassa .deleted *{color:#999}
#kassa_down_txt{width:220px}
#kassaShowDel_check{margin-top:22px}