.tabLR{width:100%}
.tabLR .left{vertical-align:top}
.tabLR .right{
    vertical-align:top;
    padding:8px 8px 20px 8px;
    width:140px;
    background-color:#f7f7f7;
    border-left:#dae1e8 solid 1px;
    height:450px;
}


.result{
    height:17px;
    padding:12px 10px 0 10px;
    font:bold 11px Tahoma;
    color:#47688D;
    border-bottom:#DAE1E8 solid 1px;
}


td.label{line-height:16px;color:#888}
td.label EM{font-size:10px;color:#bbb;display:block}

td.top{vertical-align:top;padding-top:3px}
td.r{text-align:right}

input.money{font:bold 14px Tahoma;width:70px}


/* Горизонтальное меню */
#mainLinks{border-bottom:#31618C solid 1px;padding:10px 5px 0 5px}
#mainLinks a{
    display:inline-block;
    margin-left:5px;
    padding:5px 10px;
    color:#31618C;
    border-radius:4px 4px 0 0;
}
#mainLinks a:hover{text-decoration:none}
#mainLinks a:not(.sel):hover{background-color:#DEE3EF}
#mainLinks .sel{color:#FFF;background-color:#31618C}
#mainLinks.busy{background-position:right 18px}


.rightLinks a{display:block;padding:5px 12px;border:transparent solid 1px;color:#29597B}
.rightLinks a:hover{border:#DEE3EF solid 1px;background:#DEE3EF;text-decoration:none}
.rightLinks a.sel,.rightLinks a.sel:hover {color:#FFF;background:#6B8EB5;border:#39659C solid 1px}
.rightLinks a.sel img{float:right;margin-top:3px}


#dopLinks{background-color:#F7F7F7;border-bottom:#dae1e8 solid 1px;padding:9px 12px}
#dopLinks .link{
    text-decoration:none;
    display:inline-block;
    cursor:pointer;
    color:#45688e;
    margin-right:10px;
    font-weight:bold;
    padding:3px 8px 4px 8px;
    border-radius:2px;
}
#dopLinks .link:not(.sel):hover{background-color:#e1e7ed}
#dopLinks .sel{background-color:#597da3;color:#FFF}



/* таблица списком */
._spisok{border-collapse:collapse}
._spisok th{
    border:#dee4e8 solid 1px;
    background-color:#f5f7f8;
    font-weight:bold;
    text-align:center;
    padding:6px;
}
._spisok td{border:#dee4e8 solid 1px;padding:4px 6px}
._money{width:100%}
._money .sum{width:45px;text-align:right;font-weight:bold}
._money .dtime{
    width:70px;
    white-space:nowrap;
    text-align:right;
    font-size:10px;
    color:#777;
    cursor:help
}


/* Сообщение пустого запроса */
._empty{
    font:12px Tahoma;
    color:#777;
    background:#f7f7f7;
    border:#ccc solid 1px;
    text-align:center;
    padding:130px 10px;
    margin:10px;
}


/* Просмотр изображений */
.fotoView{cursor:pointer}
#foto_view{position:absolute;top:0;left:0;width:625px;background:#fff;z-index:1000}
#foto_view .head em{display:inline-block;margin:11px 20px;color:#45688e;font-weight:bold}
#foto_view .head a {float:right;display:block;padding:12px 25px}
#foto_view .image{width:100%;min-height:400px;cursor:pointer}
#foto_view .image td{text-align:center;vertical-align:middle}
#foto_view .about{padding:20px 0}
#foto_view .dtime{color:#777;margin-left:20px}
#foto_view .hide{display:none}


/* Загрузка и просмотр изображений */
#fotoUpload .info{background-color:#f6f7f9;border:#dbe0ea 1px solid;padding:10px;margin-bottom:15px}
#fotoUpload .about{color:#31618C;font-size:12px;font-weight:bold;margin:25px 0 2px 0}
#fotoUpload #choose_file{
    background:#eff1f3 url("data:image/gif;base64,R0lGODlhGgAWALMAAAAAAP///6OzxqKyxaGxxKCww6CxxKOzxaW1x6S0xqO0xqKzxaGyxKCxw////wAAACH5BAEAAA4ALAAAAAAaABYAAAQ+0Mkpkb2Y6o373ZwnWuBodtOpfmurhu5XxkgqO7Gd4W4l+isgihckDnvGXS5ZY550TedzRiNBq9gsSruTIiMAOw==") no-repeat 110px center;
    padding-left:145px;
    margin-bottom:30px;
    line-height:44px;
    color:#738392;
    font-size:12px;
}
#fotoUpload #choose_file.no_msie:hover{background-color:#e9edf1;cursor:pointer}
#fotoUpload form{
    position:absolute;
    margin:11px 0 0 110px;
    height:22px;
    width:63px;
    overflow:hidden;
    z-index:2;
    opacity:0;
}
#fotoUpload #file_name{
    position:relative;
    width:178px;
    left:-115px;
    cursor:pointer;
}
#fotoUpload iframe{display:none}
#fotoUpload #error_msg{
    border:#e6a393 solid 1px;
    background-color:#fdefea;
    padding:10px;
    text-align:center;
    color:#533;
}
#fotoUpload #direct_input{width:242px}
#fotoUpload #direct a{margin-left:5px;display:inline-block;padding:4px 12px}
#fotoUpload #direct a:hover{background-color:#e9edf1;text-decoration:none}
#fotoUpload #direct a.busy span{visibility:hidden}
#fotoUpload .webcam{margin:30px 0 10px 0}
/* настройки камеры */
#webcam{padding:0;background-color:#B3B3B3}
#webcam #screen{height:457px}





.ajaxNext{text-align:center;height:31px;color:#2B587A;cursor:pointer}
.ajaxNext span{line-height:30px}
.ajaxNext td{border:0;padding:0}
.ajaxNext:hover,.ajaxNext.busy:hover{background-color:#e9edf1}
.ajaxNext.busy span{display:none}



/* Перелистывание годов */
.years{margin:6px 0;background-color:#E8E8E8;height:25px;cursor:pointer}
.years TABLE{height:100%;width:100%}
.years .but{color:#CCC;font:bold 20px Arial;width:18px;text-align:center;padding:0 5px}
.years .but:hover{background-color:#DDD;color:#AAA}
.years #ycenter{width:90px;text-align:center;overflow:hidden}
.years #ycenter SPAN{font:bold 12px Verdana;color:#666;top:1px;left:0;position:relative}






.zayav_link{position:relative;display:inline-block}
.zayav_link .tooltip{
    position:absolute;
    background-color:#fff;
    border:#ccc solid 1px;
    min-width:100px;
    min-height:75px;
    padding:5px;
    top:-86px;
    left:-10px;
}
.zayav_link:not(:hover) .tooltip{display:none}
.zayav_link td{border:0;padding:0}
.zayav_link .image{max-width:100px;overflow:hidden}
.zayav_link img{height:70px}
.zayav_link .inf{white-space:nowrap;padding-left:5px;vertical-align:top}




/* Комментарии VK */
.vkComment{margin-top:15px}
.vkComment .headBlue{margin-top:0}
.vkComment .count{float:right;color:#666}
.vkComment TEXTAREA{resize:none;overflow:hidden;width:100%;height:13px;color:#777;border:#CCD solid 1px}
.vkComment .add{background-color:#F7F7F7;padding:8px 20px 8px 8px}
.vkComment .add .vkButton{margin-top:8px;display:none}
.vkComment .cunit{padding:10px 0;border-bottom:#DAE1E8 solid 1px}
.vkComment .img_del{float:right}
.vkComment .cunit:not(:hover) .unit_del,.vkComment .child:not(:hover) .child_del,.vkComment .hide{display:none}
.vkComment .cunit.busy,.vkComment .child.busy{background-color:#eee;opacity:0.4}
.vkComment .cunit.busy *{color:#777}
.vkComment .t{width:100%}
.vkComment .ava{width:58px;vertical-align:top}
.vkComment .ava img{width:50px;height:50px}
.vkComment .i{vertical-align:top}
.vkComment .i .vlink{display:inline-block;font-weight:bold}
.vkComment .ctxt{margin-top:3px}
.vkComment .cdat{color:#999;font-size:10px;margin-top:6px}
.vkComment .cdat SPAN,.vkComment .cdat A{font-size:10px}
.vkComment .cdop{margin:7px 0 0 -7px}
.vkComment .child{padding:7px 0;border-top:#E9EDF1 solid 1px}
.vkComment .dava{width:35px;vertical-align:top}
.vkComment .dava img{width:30px;height:30px}
.vkComment .di{vertical-align:top}
.vkComment .di .vlink{font-weight:normal}
.vkComment .dtxt{margin-top:3px}
.vkComment .ddat{color:#999;font-size:10px;margin-top:5px}
.vkComment .cadd{background-color:#F7F7F7;padding:6px 18px 6px 6px;margin-top:6px}
.vkComment .cadd .vkButton{margin-top:6px;display:none}
.vkComment .deleted{color:#555;text-align:center}




/* Список клиентов */
#client #find{background-color:#F7F7F7;padding:10px;border-bottom:#dae1e8 solid 1px}
#client .result.busy{background-position:585px center}
#client .result em{color:#999;margin-left:10px;font-size:10px}
#client #dolg_check{margin-top:20px}
#client #active_check{margin-top:10px}
#client .left{padding-bottom:10px}
#client .unit{margin:5px 10px 0 10px;border-bottom:#dae1e8 solid 1px;padding:5px}
#client .unit table{border-spacing:1px}
#client .label{width:70px}
#client .balans{float:right;width:80px;color:#888}
#client .balans b{float:right}
#client .unit em{background-color:#FFC;border-bottom:#FE2 solid 1px}
#client .ajaxNext{margin:0 10px}





/* Информация о клиенте */
#clientInfo .left{padding-bottom:10px}
#clientInfo .fio{color:#31618C;font-size:12px;font-weight:bold;margin:15px 5px 5px 30px}
#clientInfo .cinf{margin:0 10px 0 28px;height:90px}
#clientInfo .cinf .label{width:60px}
#clientInfo .dtime{font-size:10px;color:#999;text-align:right}
.client_edit{margin-left:5px;border-spacing:10px}
.client_edit .label{width:80px;text-align:right}
.client_edit #fio,.client_edit #telefon{width:228px}
.client_edit .tr_join{display:none}
#clientInfo #dopLinks{border-top:#dae1e8 solid 1px}
#clientInfo #dopLinks.busy{background-position:right center}
#clientInfo #zayav_result{color:#777;text-align:center}
#clientInfo .zayav_unit{margin-right:10px}
#clientInfo .ajaxNext{margin:5px 10px 0 10px}
#clientInfo #money_spisok{margin:10px;display:none}
#clientInfo #money_spisok ._empty{margin:0;padding:60px 10px}
#clientInfo #comments,#clientInfo #remind_spisok{margin:0 10px;display:none}
#clientInfo #remind_spisok ._empty{margin:10px 0;padding:60px 10px}
#clientInfo .right{width:145px}
#clientInfo .rightLinks{margin-bottom:30px}



/* список заявок */
#zayav #filter_break{float:right}
#zayav #spisok{padding-bottom:10px;background-color:#f7f7f7;vertical-align:top}
#zayav .right{border:0;width:155px;padding-bottom:300px}
#zayav .condLost.hide{display:none}
.zayav_unit{
    cursor:pointer;
    margin:10px 5px 0 10px;
    border:#ccc solid 1px;
    border-radius:2px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.zayav_unit:hover{border:#bbb solid 1px;box-shadow: 0 0 5px rgba(0,0,0,0.4);}
.zayav_unit .name{display:block;margin:4px 0 2px 6px;font-size:12px}
.zayav_unit .name b{font-size:12px}
.zayav_unit H2{float:right;font-size:10px;color:#777;margin:4px}
.zayav_unit H2.finded{background:#FFC;color:#444;text-decoration:underline}
.zayav_unit em{background:#FFC;border-bottom:1px solid #FE2}
.zayav_unit b em{font-weight:bold}
.zayav_unit .label{width:90px;padding-left:10px}
.zayav_unit .zz{color:#a33}
.zayav_unit .image {
    width:80px;
    height:80px;
    vertical-align:middle;
    text-align:center;
    border-left:#DDD solid 1px;
    background-color:#FFF;
}
#zayav .ajaxNext{margin:6px 5px 0 8px}
#zayav #find{margin-top:15px}
#zayav #desc_check{margin-top:10px}
#zayav ._empty{margin-right:6px;}





/* Внесение новой заявки */
#zayavAdd{padding:20px 10px 140px 10px;background-color:#F7F7F7}
#zayavAdd .headName{margin-bottom:15px}
#zayavAdd .label{width:190px;text-align:right}
#device_image{padding-left:5px;vertical-align:top;min-width:50px}
#device_image img{height:72px;display:none}
#zayavAdd #place_radio{margin-bottom:10px}
#place_other_div{position:absolute;display:none}
#place_other{width:100px;position:relative;top:-3px;left:3px}
#zayavAdd #imei{width:130px}
#zayavAdd #serial{width:200px}
#zayavAdd #fault .check0,#zayavAdd #fault .check1{white-space:nowrap;margin:4px 15px 0 0}
#zayavAdd #comm{width:260px;height:40px}
#zayavAdd #reminder_tab{display:none;border-spacing:8px;position:relative;top:-8px}
#zayavAdd #reminder_txt{width:260px}
#zayavAdd .vkButton{margin:10px 7px 0 206px}



/* Информация о заявке */
#zayavInfo .delete{float:right;margin-top:4px;color:#933}
#zayavInfo .itab{width:100%;border-spacing:10px}
#zayavInfo #left{vertical-align:top}
#zayavInfo .headName{margin:0;padding:4px 3px}
#zayavInfo .tabInfo{margin:2px 10px 15px 10px;border-spacing:4px}
#zayavInfo .label{width:85px}
#zayavInfo .dtime_add{cursor:help}
#zayavInfo #status {
    display:inline-block;
    border:#DDD solid 1px;
    width:140px;
    text-align:center;
    padding:2px 0 3px 0;
    color:#666;
    cursor:pointer;
}
#zayavInfo #status:hover{border-color:#BBD; color:#444}
#zayavInfo #status_dtime{display:inline-block;color:#AAA;font-size:10px;margin-left:10px}
#zayavInfo .dopl{margin-left:10px;color:#888;cursor:help}
#zayavInfo #remind_spisok{margin:8px 0}
#zayavInfo .headBlue.mon{margin-top:10px}
#zayavInfo .headBlue.mon em{float:right;margin:0 5px;}
#zayavInfo .op{color:#090;cursor:help}
#zayavInfo .acc{color:#07a;cursor:help}
#zayavInfo ._money .del{width:20px;padding:0}
#zayavInfo ._money .img_del{margin:0 0 -2px 4px}
.zayav_accrual_add{border-spacing:8px}
.zayav_accrual_add .label{width:140px;text-align:right}
.zayav_accrual_add #prim,.zayav_accrual_add #reminder_txt { width:200px; }
.zayav_accrual_add.remind{display:none;margin-top:-8px;}
.zayav_oplata_add{border-spacing:8px}
.zayav_oplata_add .label{width:165px;text-align:right}
.zayav_oplata_add #prim{width:200px}
#zayavInfo .deleting{text-align:center;color:#555}
#zayavInfo #right{vertical-align:top;width:200px}
#zayavInfo #foto{text-align:center}
#zayavInfo .fotoUpload{color:#2B587A;padding:10px;text-align:center;cursor:pointer}
#zayavInfo .fotoUpload:hover{background-color:#e9edf1}
#zayavInfo .devContent{border-left:#e9edf1 solid 1px}
#zayavInfo .devName{padding:7px 0 0 7px}
#zayavInfo .devName a{font-weight:bold}
#zayavInfo .devInfo{margin:7px 0 10px 7px;border-spacing:1px}
#zayavInfo .devInfo *{font-size:10px}
#zayavInfo .devInfo th{width:70px;color:#777;text-align:left;font-size:10px}
#zayavInfo .goZp{font-weight:bold}
.zayav_zp_add center{margin-bottom:15px}
.zayav_zp_add center,.zayav_zp_add center b{font-size:12px}
.zayav_zp_add #dop{width:188px}
.zayav_zp_set,.zayav_zp_set b{font-size:12px}
#zayavInfo #zpSpisok{margin:7px 7px 60px 7px}
#zayavInfo #zpSpisok *{font-size:10px}
#zayavInfo #zpSpisok .unit{border-bottom:#DEE3EF solid 1px;padding-bottom:4px;margin-bottom:7px}
#zayavInfo #zpSpisok .unit:not(:hover) .zakaz,#zayavInfo #zpSpisok .unit:not(:hover) .set{visibility:hidden}
#zayavInfo #zpSpisok .zakaz{color:#567f9e}
#zayavInfo #zpSpisok .set{color:#567f9e;float:right}
#zayavInfo #zpSpisok .dop{color:#333}
#zayavInfo #zpSpisok .color{color:#777}
#zayavInfo #zpSpisok .zakaz_ok{color:#933}
#zayavInfo #zpSpisok .avai{float:right;color:#393;margin-left:4px}
#zayavInfo #zpSpisok ._empty{margin:5px 0;padding:20px 10px;font-size:12px}
#zayavInfo #zpSpisok .unit:not(:hover) .image{display:none}
#zayavInfo #zpSpisok .image{position:relative}
#zayavInfo #zpSpisok .image div{
    position:absolute;
    top:0;
    left:-94px;
    background-color:#fff;
    border:#ccc solid 1px;
    min-width:80px;
    min-height:60px;
    padding:5px;
    text-align:center;
}





/* Список запчастей */
#zp .right{width:155px}
#zp .unit{padding:7px 0;margin:0 8px;border-bottom:#dae2e8 solid 1px}
#zp .unit .img{width:80px;height:80px;padding-right:10px;text-align:center;vertical-align:top}
#zp .unit IMG{cursor:pointer}
#zp .cont{vertical-align:top;width:235px}
#zp .bu{font:bold 12px Verdana;margin-right:6px;color:#800}
#zp .name,#zp .name B,#zp .dop,#zp em{font-size:12px}
#zp .name em{font-weight:bold}
#zp em{background:#FFC;border-bottom:1px solid #FE2}
#zp .dop{color:#555;margin:1px 0}
#zp .color{margin-top:6px}
#zp .color span{color:#777}
#zp .action{vertical-align:top}
#zp .unit:not(:hover) .hid{visibility:hidden}
#zp .action a{display:inline-block;padding:4px 0 4px 5px;width:105px}
#zp .action a:hover{background-color:#e9edf1;text-decoration:none}
#zp a.avai{color:#2A2}
#zp a.zakaz:not(.hid),#zp a.zakaz:hover{color:#A33}
#zp a.zakaz.busy .edit,
#zp a.zakaz:not(:hover) .edit,
#zp a.zakaz:not(.busy):hover .cnt{display:none}
#zp a.zakaz.busy{background-position:58px 8px}
#zp a.zakaz tt{display:inline-block;padding:0 4px;color:#aaa}
#zp a.zakaz tt:hover{color:#004}
#zp .zz{margin-top:10px;color:#777}
#zp .add{float:right}
.zp_add_dialog{border-spacing:10px}
.zp_add_dialog #dop{width:188px}
.zp_add_dialog .label{width:155px;text-align:right}
.avai_add{width:100%}
.avai_add .left{width:250px;vertical-align:top}
.avai_add .name,table.avai_add b,.avai_add em{font-size:12px}
.avai_add em{font-weight:bold}
.avai_add .avai{margin:15px 0;color:#777}
.avai_add .inp{border-spacing:6px}
.avai_add input{text-align:right}
.avai_add #count{width:40px;margin-left:25px}
.avai_add #cena{width:65px}
.avai_add span{color:#aaa;margin-left:5px}
#zp #menu{margin-top:10px}
#zp .ajaxNext{margin:0 8px 10px 8px}



#zpInfo .ztab{width:100%;border-spacing:10px}
#zpInfo .left{vertical-align:top}
#zpInfo .name{color:#45688E;font-weight:bold;font-size:12px;margin-top:5px}
#zpInfo .name span{font:bold 12px Verdana;margin-right:8px;color:#800}
#zpInfo .name em{font-weight:bold;font-size:12px;margin-left:12px;color:#777}
#zpInfo .for{font-size:12px;margin-top:4px}
#zpInfo .for a{font-size:12px}
#zpInfo .prop{border-spacing:2px;margin:5px 0 0 5px}
#zpInfo .avai{margin:5px 0 0 7px;font-weight:bold;color:#0b0}
#zpInfo .avai.no{color:#555}
#zpInfo .added{color:#aaa;margin-top:6px;font-size:10px;text-align:right}
#zpInfo .right{width:200px;vertical-align:top}
#zpInfo #foto{text-align:center}

/*
#zp #view .tab H2, #zp #view .tab H2 A { font-size:12px; }
#zp #view .tab H3 { margin-top:5px; }
#zp #view .tab H3 EM {
    text-align:right;
    margin-top:2px;
    margin-right:7px;
    width:40px;
    color:#777;
    display:inline-block;
}
#zp #view .tabnal { margin:15px 0 10px 10px; }
#zp #view .nal {
    font-weight:bold;
    padding-right:30px;
}
#zp #dopMenu EM { margin:0 4px; }
#zp #dopMenu SPAN { font-weight:bold; }
#zp #compat { margin-bottom:15px; }
#zp #compat .headBlue A {
    float:right;
    color:#777;
}
#zp #compat EM {
    margin-left:8px;
    color:#999;
}
#zp #compat TABLE { width:100%; }
#zp #compat TD { padding:2px 3px 2px 8px; }
#zp #compat .del {
    width:19px;
    padding:0;
    text-align:center;
}
#zp #compat .img_del { margin:2px 0 0 2px; }
#zp #compat .empty { color:#777; }
#zp #compat_add H1 { font-size:12px; margin-bottom:10px; }
#zp #compat_add #cdev { margin:10px 0 10px 90px; }
#zp #compat_add #cres { text-align:center; }

#zp .mov {
    margin:8px 0 4px 0;
    padding-bottom:5px;
    border-bottom:#DEE solid 1px;
}
#zp .mov TD, #zp .mov TH { vertical-align:top; }
#zp .mov TH { padding-right:7px; }
#zp .mov TD { width:360px; }
#zp .mov .img_del {
    float:right;
}
#zp .mov H2 { margin-top:3px; }
#zp .mov H2, #zp .mov H2 B { font-size:12px; }
#zp .mov H3 {
    font-size:10px;
    color:#777;
    margin-top:5px;
}
#zp .mov H4 {
    color:#774;
    font:italic 12px Arial;
    padding-top:2px;
}
.zpDecTab .tdAbout {
    margin-top:3px;
    text-align:right;
    width:90px;
}
.zpDecTab #count {
    width:45px;
    font:bold 12px Tahoma;
    text-align:right;
}
.zpDecTab SPAN {
    margin-left:5px;
    color:#888;
}
.zpDecTab #zayavNomer { width:60px; }
.zpDecTab #cena { width:50px; }
.zpDecTab TEXTAREA {
    width:200px;
    height:40px;
    resize:none;
}
*/




#report_history{margin:8px}
#report_history .head{font-size:10px;color:#777;margin-top:10px}
#report_history .head a{font-size:10px;margin-left:10px}
#report_history .txt{margin:0 0 5px 30px}
#report_history i{font:italic 11px Arial;color:#977}
.report_history_rl .label{display:inline-block;width:20px}
.report_history_rl .cal{margin-top:5px}


#remind_private_check{margin-top:20px}
#report_remind .info{margin:8px;border:#DDD solid 1px;padding:6px 8px}
#report_remind .info:not(.show) .text,
#report_remind .show .opening,
#report_remind .info:not(.show) .closing{display:none}
#report_remind #remind_spisok{margin:0 8px}
.remind_unit{font-size:12px;margin:8px 0}
.remind_unit B{font-size:12px;color:#555}
.remind_unit .txt{font-size:12px;padding:4px 6px 5px 6px}
.remind_unit .txt a{font-size:12px}
.remind_unit .txt u{font-size:12px;color:#888}
.remind_unit .day{padding-top:3px;padding-bottom:3px;font-weight:bold;color:#884}
.remind_unit .day EM{color:#884; margin-left:4px}
.remind_unit .day SPAN{color:#888}
.remind_unit .action{float:right;margin-right:4px}
.remind_unit:not(:hover) .action{display:none}
.remind_unit .action a{font-size:10px}
.remind_unit .hist{
    display:none;
    background-color:#FFF;
    font-size:10px;
    color:#888;
    border-top:#F8F8F8 solid 1px;
    border-bottom:#F8F8F8 solid 1px;
    margin-top:3px;
    padding:2px 3px;
}
.remind_unit.yellow{border:#EED solid 1px}
.remind_unit.yellow .txt{background-color:#FFC}
.remind_unit.yellow .day{background-color:#FFFFF4}
.remind_unit.yellow em{color:#884}
.remind_unit.redd{border:#EDD solid 1px}
.remind_unit.redd .txt{background-color:#FCC}
.remind_unit.redd .day{background-color:#FFF7F7}
.remind_unit.redd em{color:#844}
.remind_unit.blue{border:#DDE solid 1px}
.remind_unit.blue .txt{background-color:#ddf}
.remind_unit.blue .day{background-color:#F7F7FF}
.remind_unit.blue em{color:#884}
.remind_unit.green{border:#DED solid 1px}
.remind_unit.green .txt{background-color:#CFC}
.remind_unit.green .day{background-color:#F7FFF7}
.remind_unit.green em{color:#484}
.remind_unit.grey{border:#DDD solid 1px}
.remind_unit.grey .txt{background-color:#DDD}
.remind_unit.grey .day{background-color:#F7F7F7}
.remind_unit.grey em{color:#444}
#report_remind .ajaxNext{margin-bottom:10px}
#report_remind ._empty{margin:0}
/* плюсик добавления напоминания */
.rightLinks a:not(.sel) .report_remind_add{display:none}
.report_remind_add{float:right;margin:1px 0}
/* таблица внесения нового напоминания */
.remind_add_tab{border-spacing:6px}
.remind_add_tab .label{width:160px;text-align:right}
.remind_add_tab#tab_content{display:none}
.remind_add_tab #txt{width:240px;height:40px}
.remind_add_tab #data{cursor:pointer;width:90px;text-align:right}
.remind_add_tab #zayav_nomer{width:60px}
.remind_add_tab #img{color:#666;margin-left:5px}
/* Новое действие для напоминания */
.remind_action_tab{margin:0 10px;border-spacing:6px}
.remind_action_tab .label{width:80px;text-align:right}
.remind_action_tab b{
    display:block;
    border:#DDD solid 1px;
    padding:2px 4px;
    font-weight:bold;
    font-size:12px;
    color:#444;
    background-color:#FAFAFA;
}
.remind_action_tab#new_action{display:none;margin-top:6px}
.remind_action_tab #comment{width:240px; height:40px}



#report_prihod{padding:10px 15px 20px 15px}
#report_prihod ._spisok{width:100%}
#report_prihod .sum{width:30px;text-align:right;white-space:nowrap}
#report_prihod .dtime{width:70px;color:#666;font-size:10px;text-align:right;white-space:nowrap;cursor:help}
#report_prihod .edit{padding:0;text-align:center;width:19px}
#report_prihod .img_del{margin:0 0 -3px 2px}
#report_prihod .deleting{text-align:center;color:#555}
#report_prihod .deleted{background-color:#eee}
#report_prihod .deleted *{color:#999}
#report_prihod .summa{margin-bottom:7px}
#report_prihod .summa_add{float:right}
#report_prihod_add{border-spacing:8px}
#report_prihod_add #about{width:170px}
.report_prihod_rl .label{display:inline-block;width:20px}
.report_prihod_rl .cal{margin-top:5px}
#prihodShowDel_check{margin-top:15px}


#report_rashod{margin:12px}
#report_rashod .headName{margin:10px 0}
#report_rashod .headName a{float:right;color:#9fb7c9}
#report_rashod .headName a:hover{color:#2B587A}
#report_rashod ._spisok{width:100%;margin-top:5px}
#report_rashod .sum{width:30px;text-align:right;white-space:nowrap}
#report_rashod .dtime{width:70px;color:#666;font-size:10px;text-align:right;white-space:nowrap;cursor:help}
#report_rashod .edit{padding:0 0 0 4px;text-align:center;width:11px;white-space:nowrap}
#report_rashod .img_edit{margin:0 2px -3px 0}
#report_rashod .img_del{margin:0 2px -3px 0}
#report_rashod .deleting{text-align:center;color:#555}
#report_rashod em{margin-right:5px;color:#770}
#years_rashod_year{margin-top:20px}
#rashod_monthSum_radio .sum{float:right}
#rashod_monthSum_radio .off .sum{color:#888}
#report_rashod_add{border-spacing:8px}
#report_rashod_add #about{width:190px}
#rashod_category_name{width:190px}



#report_kassa .set_info{
    margin:15px;
    background-color:#FFE;
    border:#EED solid 1px;
    padding:6px 8px;
    text-align:justify;
}
#report_kassa #set_summa{
    padding:0 3px;
    width:70px;
    height:24px;
    font-size:13px;
    font-weight:bold;
}
#report_kassa .set_tab{margin:0 0 20px 100px}
#report_kassa #set_go{margin-left:10px}
#report_kassa .in{padding:15px 10px 5px 10px;border-bottom:#dae1e8 solid 1px;}
#report_kassa .actions{float:right}
#report_kassa #spisok{margin:0 10px 20px 10px}
#report_kassa .all{margin:15px 0 4px 0}
#report_kassa ._spisok{width:100%}
#report_kassa .sum{width:30px;text-align:right;white-space:nowrap}
#report_kassa .dtime{width:70px;color:#666;font-size:10px;text-align:right;white-space:nowrap;cursor:help}
#report_kassa .edit{padding:0 0 0 3px;text-align:center;width:11px;white-space:nowrap}
#report_kassa .img_del{margin:0 2px -3px 0}
#report_kassa .img_rest{margin:0 2px -3px 0}
#report_kassa .deleting{text-align:center;color:#555}
#report_kassa .deleted{background-color:#eee}
#report_kassa .deleted *{color:#999}
#kassa_down_txt{width:220px}
#kassaShowDel_check{margin-top:22px}