.org-name{text-align:right;font-size:18px}
.org-adres{text-align:right;font-size:14px}
.org-telefon{text-align:right;font-size:14px}
.kvit-head{
    border-top:#777 solid 1px;
    margin:10px 0;
    padding-top:10px;
    text-align:center;
    font-size:24px;
    font-weight:700
}
.device-tab{border:#fff solid 0;border-collapse:collapse;width:98%}
.device-tab td{border:#fff solid 0;padding:2px 0}
.image{width:220px;text-align:right;vertical-align:top}
.device-about{border-collapse:collapse;border:#FFF solid 0}
.label{width:140px;color:#555;font-size:13px}
.hr-small{width:200px;border-top:#777 solid 1px;margin:10px 350px 0 0;font-size:1px}
.client-about{border-collapse:collapse;border:#FFF solid 0;margin-top:6px}
#brake{margin-top:10px}
.brake-about{font-style:italic;margin-top:2px}
#conditions{border-top:#777 solid 1px;margin:10px 0 5px 0;padding-top:10px}
.conditions-about{margin-left:48px;padding:0}
.conditions-about li{margin:1px 0;font-size:12px;font-style:italic}
.vk-app{
    border:#444 solid 1px;
    padding:7px 10px;
    margin:15px 20px;
    font-size:15px;
    text-align:justify;
}
.sign-client{font-size:14px;margin-top:25px}
.sign-master{width:98%;margin-top:25px;border:#FFF solid 0}
.sign-master td{border:#FFF solid 0;padding:3px;font-size:14px}
.sign-master span{border-bottom:#000 solid 1px}
.cur-data{text-align:right}