.device-add-tab{border-spacing:10px}
.device-add-tab input{width:170px}

/* Список клиентов */
#client #find{background-color:#F7F7F7;padding:10px;border-bottom:#dae1e8 solid 1px}
#client .result.busy{background-position:585px center}
#client .result em{color:#999;margin-left:10px;font-size:10px}
#client #dolg_check{margin-top:20px}
#client #active_check{margin-top:10px}
#client #comm_check{margin-top:10px}
#client .left{padding-bottom:10px}
#client .unit{margin:5px 10px 0 10px;border-bottom:#dae1e8 solid 1px;padding:5px}
#client .unit table{border-spacing:1px}
#client .label{width:70px}
#client .balans{float:right;width:80px;color:#888}
#client .balans b{float:right}
#client .unit em{background-color:#FFC;border-bottom:#FE2 solid 1px}
#client .unit.i{
	background:url("data:image/gif;base64,R0lGODlhDgAOAKIAAAAAAP///9Pd6GuNsf///wAAAAAAAAAAACH5BAEAAAQALAAAAAAOAA4AAAMiSLoi+681CKWjyk68d+0eA17iSBJWJpVairraC7d0K9dOAgA7") no-repeat 428px 21px;
}
#client ._next{margin:0 10px}


/* Информация о клиенте */
#clientInfo .left{padding-bottom:10px}
#clientInfo .fio{color:#31618C;font-size:12px;font-weight:bold;margin:15px 5px 5px 30px}
#clientInfo .cinf{margin:0 10px 0 28px;height:90px}
#clientInfo .cinf .label{width:60px}
#clientInfo .dtime{font-size:10px;color:#999;text-align:right}
.client_edit{margin-left:5px;border-spacing:10px}
.client_edit .label{width:80px;text-align:right}
.client_edit #fio,.client_edit #telefon{width:228px}
.client_edit .tr_join{display:none}
#clientInfo #dopLinks{border-top:#dae1e8 solid 1px}
#clientInfo #dopLinks a{font-weight:normal}
#clientInfo #dopLinks.busy{background-position:right center}
#clientInfo #zayav_result{color:#777;text-align:center}
#clientInfo .zayav_unit{margin-right:10px}
#clientInfo #zayav_spisok ._next{margin:5px 10px 0 10px}
#clientInfo #money_spisok,#clientInfo #histories{display:none}
#clientInfo #money_spisok ._empty{margin:0;padding:60px 10px}
#clientInfo #comments,#clientInfo #remind_spisok{margin:0 10px;display:none}
#clientInfo #remind_spisok ._empty{margin:10px 0;padding:60px 10px}
#clientInfo .right{width:145px}
#clientInfo #zayav_filter{margin-top:57px}
#clientInfo #diff_check{margin-top:15px}


/* список заявок */
#zayav .clear{float:right}
#zayav #spisok{padding-bottom:10px;background-color:#f7f7f7;vertical-align:top}
#zayav .right{border:0;width:155px;padding-bottom:300px}
#zayav .condLost.hide{display:none}
.zayav_unit{
	cursor:pointer;
	margin:10px 5px 0 10px;
	border:#ccc solid 1px;
	border-radius:2px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.zayav_unit:hover{border:#bbb solid 1px;box-shadow: 0 0 5px rgba(0,0,0,0.4);}
.zayav_unit .name{display:block;margin:4px 0 2px 6px;font-size:12px}
.zayav_unit .name b{font-size:12px}
.zayav_unit H2{float:right;font-size:10px;color:#777;margin:4px}
.zayav_unit H2.finded{background:#FFC;color:#444;text-decoration:underline}
.zayav_unit em{background:#FFC;border-bottom:1px solid #FE2;font-size:12px}
.zayav_unit b em{font-weight:bold}
.zayav_unit .utab{border-spacing:2px;width:100%}
.zayav_unit .utab em{font-size:11px}
.zayav_unit .label{width:90px;padding-left:10px}
.zayav_unit .balans{float:right;margin-right:2px;color:#777}
.zayav_unit .acc{color:#07a;cursor:default;font-size:10px}
.zayav_unit .opl{color:#090;cursor:default;font-size:10px}
.zayav_unit .diff .acc,.zayav_unit .diff .opl{color:#c33}
.zayav_unit .zz{color:#a33}
.zayav_unit .image{
	width:80px;
	height:80px;
	vertical-align:top;
	text-align:center;
	border-left:#DDD solid 1px;
	background-color:#FFF;
}
.zayav_unit .note{display:none}
#zayav ._next{margin:6px 5px 0 8px}
#zayav #find{margin-top:15px}
#zayav #desc_check{margin-top:10px}
#zayav #diff_check{margin-top:15px}
#zayav ._empty{margin-right:6px;}

/* Ссылка на заявку с подсказкой */
.zayav_link{position:relative;display:inline-block}
.zayav_link .tooltip{
	position:absolute;
	background-color:#fff;
	border:#ccc solid 1px;
	min-width:100px;
	min-height:75px;
	padding:5px;
	top:-91px;
	left:-10px;
	z-index:1000;
}
.zayav_link:not(:hover) .tooltip{display:none}
.zayav_link td{border:0;padding:0}
.zayav_link .image{max-width:100px;overflow:hidden}
.zayav_link .inf{white-space:nowrap;padding-left:5px;vertical-align:top}
.zayav_link .label{padding-right:3px}
.zayav_link .tstat{
	float:left;
	border:#DDD solid 1px;
	width:22px;
	height:22px;
	margin:2px 4px 0 0;
}
.zayav_link .tname{font-weight:700;margin-bottom:8px}
.zayav_link .bl{font-weight:700}


/* Внесение новой заявки */
#zayavAdd{padding:20px 10px 140px 10px;background-color:#F7F7F7}
#zayavAdd .headName{margin-bottom:15px}
#zayavAdd .label{width:190px;text-align:right}
#device_image{padding-left:5px;vertical-align:top;min-width:50px}
#device_image img{height:72px;display:none}
#zayavAdd .equip_spisok div{margin-right:7px}
#zayavAdd #place_radio{margin-bottom:4px}
#place_radio{position:relative}
#place_other{width:100px;position:absolute;top:34px;left:60px}
#zayavAdd #imei{width:130px}
#zayavAdd #serial{width:200px}
#zayavAdd .color_dop tt{display:inline-block;margin:0 4px;position:relative;top:-5px}
#zayavAdd #fault .check0,#zayavAdd #fault .check1{white-space:nowrap;margin:0 15px 4px 0}
#zayavAdd #comm{width:260px;height:40px}
#zayavAdd #reminder_tab{display:none;border-spacing:8px;position:relative;top:-8px}
#zayavAdd #reminder_txt{width:260px}
#zayavAdd .vkButton{margin:10px 7px 0 206px}

/* Информация о заявке */
#zayav-info .delete{float:right;margin-top:4px}
#zayav-info .itab{width:100%;border-spacing:10px}
#zayav-info .h .z-info,#zayav-info .itab:not(.h) .z-hist{display:none}
#zayav-info .z-hist .headName{margin-bottom:15px}
#zayav-info #left{vertical-align:top}
#zayav-info .headName{margin:0;padding:4px 3px}
#zayav-info .img_print{float:right}
#zayav-info .tabInfo{margin:2px 10px 15px 4px;border-spacing:8px}
#zayav-info .label{width:75px}
#zayav-info .kvit_defect{color:#777}
#zayav-info .dtime_add{cursor:help}
.zayav-info-edit{border-spacing:8px}
.zayav-info-edit .equip_spisok div{display:block;margin-bottom:5px}
.zayav-info-edit .color_dop tt{display:inline-block;margin:0 4px;position:relative;top:-5px}
.zayav-info-edit ._image-spisok{width:260px}
.zayav-info-edit #imei{width:244px}
.zayav-info-edit #serial{width:244px}
#zayav-info #status {
	display:inline-block;
	border:#DDD solid 1px;
	width:140px;
	text-align:center;
	padding:2px 0 3px 0;
	color:#666;
	cursor:pointer;
}
#zayav-info #status:hover{border-color:#bbd; color:#444}
#zayav-info #status_dtime{display:inline-block;color:#aaa;font-size:10px;margin-left:10px}
#zayav-info .dopl{margin-left:10px;color:#888;cursor:default}
#zayav-info .rm{margin-top:10px}
#zayav-info #remind_spisok{margin:8px 0}
#zayav-info .headBlue.mon{margin-top:10px}
#zayav-info .headBlue.mon em{float:right;margin:0 5px;}
#zayav-info .acc{color:#07a;cursor:default}
#zayav-info .op{color:#090;cursor:default}
.zayav_accrual_add{border-spacing:8px}
.zayav_accrual_add .label{width:140px;text-align:right}
.zayav_accrual_add #prim,.zayav_accrual_add #reminder_txt { width:200px; }
.zayav_accrual_add.remind{display:none;margin-top:-8px;}
#zayav-info .deleting{text-align:center;color:#555}
#zayav-info #kvit_spisok{margin-bottom:8px}
#zayav-info #ze_acc{
	border-left:#e9edf1 solid 1px;
	border-right:#e9edf1 solid 1px;
	border-bottom:#e9edf1 solid 1px;
	padding:5px 7px;
}
#zayav-info #ze-edit{float:right}
.ze-edit-tab{border-spacing:8px}
.ze-edit-tab .label{width:60px}
.ze-spisok *{font-size:10px}
.ze-spisok{width:100%;margin-top:-1px;border-collapse:collapse}
.ze-spisok td{border:#dee4e8 solid 1px;padding:2px 4px}
.ze-spisok .name{width:100px}
.ze-spisok .sum{text-align:right;width:50px;white-space:nowrap;cursor:default}
.ze-spisok .itog{text-align:right}
/* Изменение списка расходов в заявке */
#_ze-edit .ptab{margin-bottom:6px}
#_ze-edit .zetxt{width:142px;margin-right:5px}
#_ze-edit ._select{margin-right:5px}
#_ze-edit .zesum{width:40px;margin-right:3px;text-align:right}
#_ze-edit ._dropdown{margin-left:4px}
#zayav-info #right{vertical-align:top;width:200px}
#zayav-info #foto{text-align:center;margin-bottom:10px}
#zayav-info .devContent{border-left:#e9edf1 solid 1px}
#zayav-info .devName{padding:7px 0 0 7px}
#zayav-info .devName a{font-weight:bold}
#zayav-info .devInfo{margin:7px 0 10px 7px;border-spacing:1px}
#zayav-info .devInfo *{font-size:10px}
#zayav-info .devInfo th{width:70px;color:#777;text-align:left;font-size:10px}
#zayav-info .goZp{font-weight:bold}
.zayav_zp_add center{margin-bottom:15px}
.zayav_zp_add center,.zayav_zp_add center b{font-size:12px}
.zayav_zp_add #version{width:188px}
.zayav_zp_set,.zayav_zp_set b{font-size:12px}
#zayav-info #zpSpisok{margin:7px 7px 60px}
#zayav-info #zpSpisok *{font-size:10px}
#zayav-info #zpSpisok .unit{border-bottom:#DEE3EF solid 1px;padding-bottom:4px;margin-bottom:7px}
#zayav-info #zpSpisok .unit:not(:hover) .zakaz,#zayav-info #zpSpisok .unit:not(:hover) .set{visibility:hidden}
#zayav-info #zpSpisok .bu{font-weight:bold;margin-right:4px;color:#800}
#zayav-info #zpSpisok .zakaz{color:#567f9e}
#zayav-info #zpSpisok .set{color:#567f9e;float:right}
#zayav-info #zpSpisok .version{color:#333}
#zayav-info #zpSpisok .color{color:#777}
#zayav-info #zpSpisok .zakaz_ok{color:#933}
#zayav-info #zpSpisok .avai{float:right;color:#393;margin-left:4px}
#zayav-info #zpSpisok ._empty{margin:5px 0;padding:20px 10px;font-size:12px}
#zayav-info #zpSpisok .unit:not(:hover) .image{display:none}
#zayav-info #zpSpisok .image{position:relative}
#zayav-info #zpSpisok .image div{
	position:absolute;
	top:0;
	left:-94px;
	background-color:#fff;
	border:#ccc solid 1px;
	min-width:80px;
	min-height:60px;
	padding:5px;
	text-align:center;
}
.zayav-print{border-spacing:10px}
.zayav-print .label{width:90px}
.zayav-print i{font:11px Arial;color:#999}
.zayav-print textarea{width:220px;height:40px}
.zayav-print #preview{display:block;padding:10px;text-align:center}
.zayav-print #preview._busy span{visibility:hidden}
.zayav-print #preview:hover{background-color:#e9edf1;text-decoration:none}


/* Список запчастей */
#zp{min-height:500px}
#zp #zp-head{padding:7px 0 7px 5px;background-color:#f7f7f7}
#zp #head-t{width:100%;position:relative}
#zp #td-find{width:270px}
#zp #zp_menu_dropdown{position:absolute;top:7px}
#zp .vkButton{position:absolute;right:10px;top:0}
#zp #zp-filter{width:100%}
#zp #td-name{width:180px;vertical-align:top}
#zp #td-dev{width:230px}
#zp #td-bu{vertical-align:top}
#zp #bu_check{position:absolute;margin-top:4px}
#zp .clear{float:right;margin:4px 10px 0 0}
#zp #sort{float:right;width:176px;margin-top:13px}
#zp .result{border-top:#DAE1E8 solid 1px}
#zp #zp-spisok{padding:10px 5px}
#zp ._spisok{width:100%}
#zp ._spisok tr:not(._next) td{padding:2px 4px}
#zp ._spisok tr:hover{background-color:#e9edf1}
#zp em{background:#ffc;border-bottom:1px solid #FE2}
#zp .version{color:#555;margin-left:5px}
#zp .color{margin-left:8px;color:#444}
#zp .zp-avai{
	width:20px;
	font-weight:bold;
	color:#2A2;
	text-align:center;
}
#zp .zp-zakaz{width:50px;text-align:center}
#zp .zp-zakaz._busy *{display:none}
#zp .zp-zakaz .zcol{font-weight:bold;color:#b44}
#zp .zp-zakaz tt{
	display:inline-block;
	padding:0 4px;
	color:#aaa;
	cursor:pointer;
	visibility:hidden;
}
#zp .zp-zakaz .no{visibility:hidden}
#zp .zp-zakaz tt:hover{color:#004}
#zp ._spisok tr:hover tt{visibility:visible}
#zp ._spisok tr:hover .no{visibility:visible}
#zp ._empty{margin:0}

.zpzakaz:not(.hid),.zpzakaz:hover{color:#A33}
.zpzakaz.busy .zzedit,
.zpzakaz:not(:hover) .zzedit,
.zpzakaz:not(.busy):hover .cnt{display:none}
.zpzakaz.busy{background-position:64px 8px}
.zpzakaz tt{display:inline-block;padding:0 4px;color:#aaa}
.zpzakaz tt:hover{color:#004}



/*
#zp #bu_check{margin-top:15px}
#zp .unit{padding:7px 0;margin:0 8px;border-bottom:#dae2e8 solid 1px}
#zp .unit .img{width:80px;height:80px;padding-right:10px;text-align:center;vertical-align:top}
#zp .unit IMG{cursor:pointer}
#zp .cont{vertical-align:top;width:235px}
#zp .bu{font:bold 12px Verdana;margin-right:6px;color:#800}
#zp .name,#zp .name B,#zp .version,#zp em{font-size:12px}
#zp .name em{font-weight:bold}
#zp .version{color:#555;margin:1px 0}
#zp .color{margin-top:6px}
#zp .color span{color:#777}
#zp .action{vertical-align:top}
#zp .unit:not(:hover) .hid{visibility:hidden}
#zp .action a{display:inline-block;padding:4px 0 4px 5px;width:105px}
#zp .action a:hover{background-color:#e9edf1;text-decoration:none}
#zp a.avai{color:#2A2}
#zp .zz{margin-top:10px;color:#777}
.zp_add_dialog{border-spacing:10px}
.zp_add_dialog .label{text-align:right}
.zp_add_dialog #version{width:192px}
.zp_add_dialog ._image-spisok{width:260px}
*/

.avaiAddTab{width:100%}
.avaiAddTab .left{width:250px;vertical-align:top}
.avaiAddTab .name,table.avaiAddTab b,.avaiAddTab em{font-size:12px}
.avaiAddTab em{font-weight:bold}
.avaiAddTab .avai{margin:15px 0;color:#777}
.avaiAddTab .inp{border-spacing:6px}
.avaiAddTab input{text-align:right}
.avaiAddTab #count{width:40px;margin-left:25px}
.avaiAddTab #cena{width:65px}
.avaiAddTab span{color:#aaa;margin-left:5px}
#zp #find{margin-bottom:10px}
#zp ._next{margin:0 8px 10px 8px}



#zpInfo .ztab{width:100%;border-spacing:10px}
#zpInfo .left{vertical-align:top}
#zpInfo .name{color:#45688E;font-weight:bold;font-size:12px;margin-top:5px}
#zpInfo .name span,.compatAddTab .bu{font:bold 12px Verdana;margin-right:8px;color:#800}
#zpInfo .name em{font-weight:bold;font-size:12px;margin-left:12px;color:#777}
#zpInfo .for{font-size:12px;margin-top:4px}
#zpInfo .for a{font-size:12px}
#zpInfo .prop,.compatAddTab .prop{border-spacing:2px;margin:5px 0 0 5px}
#zpInfo .avai{margin:5px 0 0 7px;font-weight:bold;color:#0b0}
#zpInfo .avai.no{color:#555}
#zpInfo .added{color:#aaa;margin-top:6px;font-size:10px;text-align:right}
#zpInfo .headBlue{margin-top:10px}
#zpInfo .compatCount{background-color:#f1f1f1;color:#777;padding:3px 8px}
#zpInfo .compatSpisok a{display:block;margin:3px 0 3px 6px}
#zpInfo .compatSpisok a:not(:hover) .img_del{display:none}
#zpInfo .compatSpisok .img_del{float:right;margin-top:3px}
.compatAddTab .name,.compatAddTab .name *{font-size:12px}
.compatAddTab #dev{margin:10px 0 10px 90px}
.compatAddTab #cres{text-align:center}
#zpInfo .move *{font-size:12px}
#zpInfo .move .tooltip *,#zpInfo .move ._tooltip *{font-size:11px}
#zpInfo .move .unit{border-bottom:#DEE solid 1px;padding:5px}
#zpInfo .move .img_del{float:right;margin-top:2px}
#zpInfo .move .dtime{
	margin-top:4px;
	width:110px;
	font-size:10px;
	color:#888;
	cursor:default;
}
#zpInfo .move .cenaed{color:#777}
#zpInfo .move .prim{color:#774;font:italic 12px Arial;margin-top:2px}
#zpInfo .right{width:160px;vertical-align:top}
#zpInfo #foto{text-align:center;margin-bottom:10px}
.zp_dec_dialog{border-spacing:10px}
.zp_dec_dialog .label{width:100px;text-align:right}
.zp_dec_dialog #count{width:45px;font:bold 12px Tahoma;text-align:right}
.zp_dec_dialog span{margin-left:5px;color:#888}
.zp_dec_dialog #cena{text-align:right}
.zp_dec_dialog textarea{width:232px;height:40px}
#zayavNomer{width:80px;margin-right:5px}
#zayavNomer._busy{background-position:50px center}
span.zayavNomerTab{color:#955}
table.zayavNomerTab{border-spacing:5px}
table.zayavNomerTab td{vertical-align:top}




._hist-un .z td{border:none}
._hist-un .z .ze-spisok td{border:#ddd solid 1px}



.remind .left{padding:0 8px}
.remind #private_check{margin-top:20px}
.remind ._empty{margin:8px 0}
#remind_next{margin-bottom:10px}

.remind_unit{font-size:12px;margin:8px 0}
.remind_unit B{font-size:12px;color:#555}
.remind_unit .txt{font-size:12px;padding:4px 6px 5px 6px}
.remind_unit .txt a{font-size:12px}
.remind_unit .txt u{font-size:12px;color:#888}
.remind_unit .day{padding-top:3px;padding-bottom:3px;font-weight:bold;color:#884}
.remind_unit .day EM{color:#884; margin-left:4px}
.remind_unit .day SPAN{color:#888}
.remind_unit .action{float:right;margin-right:4px}
.remind_unit:not(:hover) .action{display:none}
.remind_unit .action a{font-size:10px}
.remind_unit .hist{
	display:none;
	background-color:#FFF;
	font-size:10px;
	color:#888;
	border-top:#F8F8F8 solid 1px;
	border-bottom:#F8F8F8 solid 1px;
	margin-top:3px;
	padding:2px 3px;
}
.remind_unit.yellow{border:#EED solid 1px}
.remind_unit.yellow .txt{background-color:#FFC}
.remind_unit.yellow .day{background-color:#FFFFF4}
.remind_unit.yellow em{color:#884}
.remind_unit.redd{border:#EDD solid 1px}
.remind_unit.redd .txt{background-color:#FCC}
.remind_unit.redd .day{background-color:#FFF7F7}
.remind_unit.redd em{color:#844}
.remind_unit.blue{border:#DDE solid 1px}
.remind_unit.blue .txt{background-color:#ddf}
.remind_unit.blue .day{background-color:#F7F7FF}
.remind_unit.blue em{color:#884}
.remind_unit.green{border:#DED solid 1px}
.remind_unit.green .txt{background-color:#CFC}
.remind_unit.green .day{background-color:#F7FFF7}
.remind_unit.green em{color:#484}
.remind_unit.grey{border:#DDD solid 1px}
.remind_unit.grey .txt{background-color:#DDD}
.remind_unit.grey .day{background-color:#F7F7F7}
.remind_unit.grey em{color:#444}
/* плюсик добавления напоминания */
.rightLink a:not(.sel) .report_remind_add{display:none}
.report_remind_add{float:right;margin:1px 0}
/* таблица внесения нового напоминания */
.remind_add_tab{border-spacing:6px}
.remind_add_tab .label{width:160px;text-align:right}
.remind_add_tab#tab_content{display:none}
.remind_add_tab #txt{width:240px;height:40px}
.remind_add_tab #data{cursor:pointer;width:90px;text-align:right}
.remind_add_tab #zayav_nomer{width:60px}
.remind_add_tab #img{color:#666;margin-left:5px}
/* Новое действие для напоминания */
.remind_action_tab{margin:0 10px;border-spacing:6px}
.remind_action_tab .label{width:80px;text-align:right}
.remind_action_tab b{
	display:block;
	border:#DDD solid 1px;
	padding:2px 4px;
	font-weight:bold;
	font-size:12px;
	color:#444;
	background-color:#FAFAFA;
}
.remind_action_tab#new_action{display:none;margin-top:6px}
.remind_action_tab #comment{width:240px; height:40px}


/* Итоговая сумма для списка платежей */
._moneysum{margin-bottom:7px}

.income .headName{margin:15px 10px}
.income .inc-path{margin:0 10px}
.income .spisok{margin:10px}
.income ._spisok:not(._money){margin:10px 10px 15px}
.income ._empty{margin:0}
.income .right{width:160px}
.income ._calendarFilter{margin-top:20px}
.income  #del_check{margin-top:20px}
#income-add-tab{border-spacing:10px}
#income-add-tab .label{width:80px;text-align:right}
#income-add-tab #prim{width:210px}

.expense .headName{margin:15px 10px}
.expense #spisok{margin:10px}
.expense ._spisok{margin-top:5px}
.expense .years{margin-top:20px}
.expense #monthList div{display:block;margin-bottom:5px}
.expense #monthList .sum{float:right}
#expense-add-tab{border-spacing:10px}
#expense-add-tab .label{width:60px;text-align:right}
#expense-add-tab #prim{width:250px}
#expense-add-tab .img_edit{position:relative;top:-4px;left:4px}

.invoice#report .headName{margin:15px 10px}
.invoice#report .headName span{display:inline-block;float:right;margin:0 6px}
.invoice#report .transfer{color:#d33}
.invoice #invoice-spisok{margin:10px 10px 25px}
.invoice #invoice-spisok .name{width:150px}
.invoice #invoice-spisok .about{color:#777;font-size:10px;margin:3px 7px}
.invoice .balans{text-align:right}
.invoice .img_note{margin-bottom:-2px}
.invoice .invoice_set{display:block;text-align:center}
.invoice .transfer-spisok{margin:10px}
.invoice-history{margin-top:10px}
.invoice-history .action{width:80px}
.invoice-history .balans{width:70px;text-align:right}

.salary#report .headName{margin:10px}
.salary#report .headName em{font-size:12px;font-weight:bold}
.salary#report .headName._busy{background-position:right center}
.salary #spisok{margin:10px}
.salary .balans{text-align:right}
.salary .uhead .a{float:right}
.salary .uhead a{color:#68A;}
.salary .uhead a:hover{color:#357}
.salary h1{margin-bottom:5px}
.salary .uhead span{color:#888;margin-left:8px}
.salary a.rate-set{color:#d33;float:right}
.salary a.rate-set:hover{color:#d33}
.salary .years{margin-top:25px}
.salary #monthList em{float:right;font-size:10px}
.salary .show{background-color:#ffc}
.salary .s-zayav{display:inline-block;padding:2px 5px}
.salary .about tt{font-size:10px;color:#888;margin-left:7px}
.salary .zp-head{margin:17px 0 3px}
.salary .zp-head span{float:right}
.salary-tab{border-spacing:8px}
.salary-tab #about{width:230px}
.salary-tab.set .label{width:100px}
.salary-tab #day{width:30px}
.salary-tab .img_edit{position:relative;top:-4px;left:4px}









#setup .left{padding:15px}
#setup .headName{margin:0 0 15px}
#setup .right{padding:0;width:170px;border-left:0}
#setup .rightLink a.sel{border-color:#6B8EB5}

.setup-tab{border-spacing:10px}
.setup-tab .label{text-align:right}
.setup-tab #name{width:210px}
.setup-tab textarea{width:210px;height:70px}

#setup_worker .headName{margin-bottom:15px}
#setup_worker .unit,#setup_worker_add .res{border-spacing:10px;border:#DDE solid 1px;width:300px;margin:6px 0 6px 20px}
#setup_worker .unit td,#setup_worker_add .res td{vertical-align:top}
#setup_worker .photo,#setup_worker_add .photo{width:50px}
#setup_worker .photo img,#setup_worker_add .photo img{width:50px;height:50px}
#setup_worker .img_del{float:right;margin-top:2px}
#setup_worker .name,#setup_worker_add .name{font-weight:bold;font-size:12px;color:#45688e}
#setup_worker .activity{margin-top:5px;color:#888;font-size:10px}
#setup_worker_add h1{font-weight:bold;color:#31618C}
#setup_worker_add h2{
	border:#ddd solid 1px;
	margin:7px 0;
	padding:10px;
	background-color:#ffe;
	color:#333;
}
#setup_worker_add #viewer_id{width:240px;padding:5px;height:13px;margin:7px 5px 0 0}
#setup_worker_add .vkButton{margin:0}
#setup_worker_add .res{margin:10px 0 0 15px}
#setup_worker_add .manual{display:inline-block;margin-top:15px}
#setup_worker_add .manual_tab{border-spacing:8px;margin-top:25px;display:none}
#setup_worker_add .manual_tab input{width:230px}
#setup_worker_add #sex_radio div{display:inline-block;margin-right:15px}

#setup_rules{padding-bottom:30px}
#setup_rules .utab td{padding-right:10px;vertical-align:top}
#setup_rules .vklink{color:#777;display:inline-block;margin-top:10px}
#setup_rules .name{font-weight:bold;font-size:12px;color:#45688e}
#setup_rules .headName{margin:20px 0 10px}
#setup_rules .pin-clear{margin-left:97px}
#setup_rules .rtab{border-spacing:8px}
#setup_rules .lab{width:150px;text-align:right}
#setup_rules .rtab input{width:160px}
#setup_rules .setup-div div{display:block;margin-bottom:5px;color:#555}

#setup_info .tab{margin:10px 0 30px 0;border-spacing:10px}
#setup_info .tab .label{text-align:right}
#setup_info #org_name{width:230px}
#setup_info #devs{margin:15px 0 40px 149px}
#setup_info #devs div{display:block;margin-bottom:4px}
#setup_info #devs span{position:absolute}
#setup_info #devs em{
	display:inline-block;
	width:140px;
	text-align:right;
	position:relative;
	left:-163px;
	color:#777
}
#setup_info #devs em.err{color:#f44}
#setup_info .del_inf{margin:2px 0 10px 20px}
#setup_info #info_del{margin-left:149px}

#setup_invoice .name{vertical-align:top;width:170px}
#setup_invoice .type{vertical-align:top}
#setup_invoice pre{color:#777;font-size:10px;margin:3px 7px}

#setup_income .name{width:160px}
#setup_income td.name{cursor:move}
#setup_income .money{width:60px;text-align:center}
#setup_income .del{color:#888;cursor:help}
#setup_income .set{width:40px}

#setup_expense .name{width:180px}
#setup_expense td.name{cursor:move}
#setup_expense .worker{width:80px;text-align:center}
#setup_expense .use{width:55px;text-align:center}
#setup_expense .set{width:35px}

#setup_zayav_expense .name{width:130px}
#setup_zayav_expense td.name{cursor:move}
#setup_zayav_expense .dop{width:150px}
#setup_zayav_expense .use{width:55px;text-align:center}
#setup_zayav_expense .set{width:35px}





.sa_viewer_msg{padding:10px 20px;border:#c99 solid 1px;background-color:#fdd}
.sa_viewer_msg .leave{float:right}


.ws-create-info{background-color:#F7F7F7;padding:10px}
.ws-create-info .txt,.ws-create-step1 .txt{
	margin:10px;
	background-color:#FFF;
	padding:10px;
	border:#DDD solid 1px;
	text-align:justify;
}
.ws-create-info .txt h3,.ws-create-step1 .txt h3{text-align:center;font-weight:bold;margin-bottom:4px}
.ws-create-info .vkButton{margin:10px 0 10px 190px}

.ws-create-step1{background-color:#F7F7F7;padding:10px 0 30px 0}
.ws-create-step1 .txt{margin-bottom:20px}
.ws-create-step1 .tab{border-spacing:10px;margin:20px 0 20px 70px}
.ws-create-step1 .label{width:140px;text-align:right}
.ws-create-step1 #org_name{width:250px}
.ws-create-step1 #devs div{display:block;margin-top:4px}
.ws-create-step1 .vkButton{margin:0 5px 0 230px}


