#setup-service-cartridge #back{color:#777;margin-bottom:10px;display:inline-block}
#setup-service-cartridge .type{font-weight:bold;margin-bottom:5px}
#setup-service-cartridge ._spisok{margin-bottom:20px}
#setup-service-cartridge .edited{background-color:#ffa}
#setup-service-cartridge .n{width:16px;text-align:right}
#setup-service-cartridge .name{width:185px}
#setup-service-cartridge .cost span{cursor:default}
#setup-service-cartridge .count{text-align:center}

#setup_info .tab{margin:10px 0 30px 0;border-spacing:10px}
#setup_info .tab .label{text-align:right}
#setup_info #devs{margin:15px 0 40px 149px}
#setup_info #devs div{display:block;margin-bottom:4px}
#setup_info #devs span{position:absolute}
#setup_info #devs em{
	display:inline-block;
	width:140px;
	text-align:right;
	position:relative;
	left:-163px;
	color:#777
}
#setup_info #devs em.err{color:#f44}
#setup_info .del_inf{margin:2px 0 10px 20px}
#setup_info #info_del{margin-left:149px}


